#toolbar--drawer button {
  background-color: aquamarine;
}
#toolbar--drawer button.active {
  background-color: brown;
}

.canvas {
  display: block;
  background-color: beige;
  margin-top: 2rem;
  border: 4px solid rgb(200, 184, 184);
}

.toolbar--drawer {
  background-color: beige;
}