:root {
  --color-hue: 210;
  --color-saturation: 6%;

  --bg-dark: hsl(var(--color-hue), var(--color-saturation), 5%);
  --bg: hsl(var(--color-hue), var(--color-saturation), 10%);
  --bg-light: hsl(var(--color-hue), var(--color-saturation), 20%);
  --bg-code: hsl(var(--color-hue), var(--color-saturation), 20%);

  --text: hsl(0 0% 95%);
  --text-muted: hsl(0 0% 70%);

  --border: hsl(var(--color-hue), var(--color-saturation), 30%);
  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --highlight: hsl(var(--color-hue), var(--color-saturation), 50%);
  --border-card: 1px solid var(--border);
  
  --primary-color: rgb(4, 87, 102);
  --primary-color--hover: rgba(4, 87, 102, 0.9);
  --primary-color--active: rgba(4, 87, 102, 0.6);
  --primary-white: rgb(240, 240, 240);
  --nav--height: 3rem;
}
body.light {
  --bg-dark: hsl(var(--color-hue), var(--color-saturation), 90%);
  /* --bg-dark: hsl(0, 0%, 90%); */
  --bg: hsl(var(--color-hue), var(--color-saturation), 95%);
  --bg-light: hsl(var(--color-hue), var(--color-saturation), 100%);
  --bg-code: hsl(var(--color-hue), var(--color-saturation), 75%);

  --text: hsl(0 0% 5%);
  --text-muted: hsl(0 0% 30%);

  --border: hsl(var(--color-hue), var(--color-saturation), 30%);
  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --highlight: hsl(var(--color-hue), var(--color-saturation), 100%);
  --border-card: 1px solid var(--bg);
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 
            0px 4px 4px hsla(0, 0%, 0%, 0.15);
}

body {
  background: var(--bg-dark);
  color: var(--text);
  padding: 8px;
}

h2 {
  margin-top: 48px;
}
/* h2:first-child {
  margin-top: 0;
} */

h3 {
  margin-top: 32px;
}

h3:first-of-type,
h4 {
  margin-top: 16px;
}
/* h3:first-child {
  margin-top: 0;
} */

p, blockquote {
  text-align: justify;
  margin-top: 16px;
}
p {
  color: var(--text-muted);
}
body.light p {
  color: var(--text);
}
blockquote {
  margin-left: 16px;
}

.blog-content {
  margin-top: 0;
}

pre > code {
  white-space: pre;
  width: fit-content;
  margin: 1rem 0 1rem 1rem;
  display: block;
  padding: 4px;
}

code {
  background-color: var(--bg-code);
  color: var(--text);
}

details {
  background-color: hsla(200, 80%, 35%, 0.5);
  padding: 8px;
}

/* a:link {
  color: hsla(200, 80%, 60%, 0.9);
}
a:visited {
  color: hsla(200, 80%, 40%, 0.5);
} */

ul > li + p {
  margin-top: 0;
}

.toplink {
  position: fixed;
  bottom: 32px;
  right: 32px;
  background-color: hsla(0, 0%, 60%, 0.4);
  padding: 4px;
}

.blog-title {
  color: inherit;
}